__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
.git
.gitignore
Dockerfile*
docker-compose*
celerybeat-schedule
celerybeat.pid
logs/
instance/
.pytest_cache/
.coverage
htmlcov/

# Database data directories
redis_data/
redis_data_develop/
postgres_data/
